 .u-section-1 {
  background-image: linear-gradient(#fc10e7, #ff5b16);
}

.u-section-1 .u-sheet-1 {
  min-height: 885px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px -30px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0 30px;
  padding: 17px 54px 18px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 528px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  height: 409px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 260px;
  height: 260px;
  margin: -374px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-1 .u-image-1 {
    height: 329px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-1 .u-image-1 {
    height: 241px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 418px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -383px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 474px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: -6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -291px;
    margin-right: 12px;
  }
} .u-section-2 {
  background-image: linear-gradient(#ff5b16, #f1c50e);
}

.u-section-2 .u-sheet-1 {
  min-height: 923px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 229px 107px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 50px 600px 0 3px;
}

.u-section-2 .u-image-1 {
  width: 886px;
  height: 591px;
  margin: -466px -26px 0 auto;
}

.u-section-2 .u-btn-1 {
  margin: -89px auto 60px 3px;
  padding: 18px 39px 19px 38px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 403px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -643px;
    margin-right: -30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 88px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 153px;
  }

  .u-section-2 .u-image-1 {
    width: 777px;
    height: 509px;
    margin-top: -680px;
    margin-left: -29px;
    margin-right: -29px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 640px;
    height: 380px;
    margin-top: -678px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    width: 429px;
    height: 348px;
    margin-top: -903px;
    margin-left: -44px;
    margin-right: -44px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 593px;
  }
} .u-section-3 {
  background-image: linear-gradient(#f1c50e, #ff5b16);
}

.u-section-3 .u-sheet-1 {
  min-height: 839px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 59px 157px 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 17px auto 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-3 .u-btn-1 {
  margin: 36px auto 0 30px;
  padding: 18px 39px 19px 38px;
}

.u-section-3 .u-image-1 {
  min-height: 574px;
  background-image: url("images/FB_IMG_1679947590849.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 630px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 47px;
  }

  .u-section-3 .u-image-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 356px;
    order: 1;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -817px;
  }

  .u-section-3 .u-image-1 {
    order: 0;
    min-height: 543px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -748px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 342px;
  }
} .u-section-4 {
  background-image: linear-gradient(#ff5b16, #ea0826);
}

.u-section-4 .u-sheet-1 {
  min-height: 1818px;
}

.u-section-4 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 690px;
  margin: 132px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 255px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 631px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 439px -517px 0 69px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 631px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 569px;
  width: 855px;
  margin: -779px auto 0 132px;
}

.u-section-4 .u-image-2 {
  height: 159px;
  width: 238px;
  margin: -454px auto 0 442px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  margin: 492px auto 60px;
  padding: 18px 39px 19px 38px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-4 .u-gallery-1 {
    height: 348px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 294px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 381px;
    margin-right: -537px;
    margin-left: -18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-4 .u-image-1 {
    height: 570px;
    margin-top: -777px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 158px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2307px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1103px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 298px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 313px;
    margin-right: -271px;
    margin-left: 89px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 480px;
    width: 720px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -364px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 436px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1855px;
  }

  .u-section-4 .u-gallery-1 {
    height: 832px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 104px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 284px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 153px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 360px;
    width: 540px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -244px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-4 .u-gallery-1 {
    height: 530px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 99px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 261px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -78px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-4 .u-image-1 {
    height: 227px;
    width: 340px;
    margin-top: -503px;
  }

  .u-section-4 .u-image-2 {
    height: 73px;
    width: 110px;
    margin-top: -186px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 280px;
    margin-right: -7px;
  }
} .u-section-5 {
  background-image: linear-gradient(#fc10e7, #ff5b16);
}

.u-section-5 .u-sheet-1 {
  min-height: 809px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 574px;
}

.u-section-5 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 59px 157px 0 30px;
}

.u-section-5 .u-text-2 {
  margin: 17px auto 0 30px;
}

.u-section-5 .u-text-3 {
  margin: 30px 30px 0;
}

.u-section-5 .u-btn-1 {
  margin: 36px auto 0 30px;
  padding: 18px 39px 19px 38px;
}

.u-section-5 .u-image-1 {
  min-height: 574px;
  background-image: url("images/Picsart_23-04-06_19-24-47-237.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 87px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-5 .u-image-1 {
    min-height: 543px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 342px;
  }
} .u-section-6 {
  background-image: linear-gradient(#ff5b16, #fc10e7);
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 656px;
  margin: 75px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin: 65px 28px 0;
}

.u-section-6 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 75px auto 0 -12px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-back-image-1 {
  object-position: 0% 50%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-back-image-2 {
  object-position: 0% 50%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 53px 159px 0 auto;
  padding: 18px 79px 19px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  margin: -62px auto 60px 135px;
  padding: 18px 79px 19px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 348px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-6 .u-btn-1 {
    margin-top: 44px;
    margin-right: 58px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    height: 1103px;
    width: 720px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1396px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    font-weight: 400;
  }

  .u-section-6 .u-gallery-1 {
    height: 832px;
    width: 540px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 42px;
    margin-right: 17px;
    padding-right: 39px;
    padding-left: 38px;
  }

  .u-section-6 .u-btn-2 {
    margin-bottom: 42px;
    padding-right: 52px;
    padding-left: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 13px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 530px;
    width: 340px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 26px;
    margin-bottom: 53px;
    margin-left: -20px;
  }
} .u-section-7 {
  background-image: linear-gradient(#fc10e7, #ff5b16);
}

.u-section-7 .u-sheet-1 {
  min-height: 986px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 862px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 337px;
  height: 459px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 176px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -186px 3px 0 117px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 260px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-group-1 {
  min-height: 213px;
  width: 460px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px auto 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 86px;
  height: 86px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: 24px auto 0 0;
  padding: 17px;
}

.u-section-7 .u-text-2 {
  margin: -86px auto 0 119px;
}

.u-section-7 .u-text-3 {
  margin: 30px 0 0 119px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 257px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-group-2 {
  min-height: 213px;
  width: 460px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 0 0 auto;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 86px;
  height: 86px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: 24px auto 0 0;
  padding: 17px;
}

.u-section-7 .u-text-4 {
  margin: -86px auto 0 119px;
}

.u-section-7 .u-text-5 {
  margin: 30px 0 0 119px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 258px;
}

.u-section-7 .u-container-layout-6 {
  padding: 0;
}

.u-section-7 .u-group-3 {
  min-height: 218px;
  width: 460px;
  height: auto;
  margin: 0 40px 0 auto;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-7 .u-icon-3 {
  width: 86px;
  height: 86px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: 24px auto 0 30px;
  padding: 17px;
}

.u-section-7 .u-text-6 {
  margin: -86px auto 0 149px;
}

.u-section-7 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 18px -33px 0 149px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 841px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 112px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -126px;
    margin-right: -13px;
    margin-left: 33px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-7 .u-group-1 {
    width: 455px;
    height: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 208px;
  }

  .u-section-7 .u-group-2 {
    width: 455px;
    height: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 213px;
  }

  .u-section-7 .u-group-3 {
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 917px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 138px;
    margin-left: -17px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -106px;
    margin-right: -20px;
    margin-left: 78px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-7 .u-group-1 {
    width: 345px;
    min-height: 224px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 106px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-7 .u-group-2 {
    width: 345px;
    min-height: 224px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 12px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 106px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 233px;
  }

  .u-section-7 .u-group-3 {
    width: 350px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 0;
    margin-left: 8px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -67px;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-left: 106px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -28px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -71px;
    margin-right: -41px;
    margin-left: 99px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 238px;
  }

  .u-section-7 .u-group-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -20px;
    margin-left: 3px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -59px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: 26px;
    padding: 14px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -74px;
    margin-left: 86px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 86px;
  }

  .u-section-7 .u-group-2 {
    width: 340px;
  }

  .u-section-7 .u-icon-2 {
    width: 74px;
    height: 74px;
    padding: 14px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -74px;
    margin-left: 86px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 86px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-group-3 {
    width: 340px;
  }

  .u-section-7 .u-icon-3 {
    width: 74px;
    height: 74px;
    margin-top: 26px;
    padding: 14px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -74px;
    margin-left: 113px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 113px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 344px;
}

.u-section-8 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 205px;
  grid-gap: 10px 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-8 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 10px 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 32px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 23px 0 0 1px;
}

.u-section-8 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-8 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 32px 0 0;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 23px 0 0 1px;
}

.u-section-8 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-8 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 32px 0 0;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 23px 0 0 1px;
}

.u-section-8 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px 30px;
}

.u-section-8 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 32px 0 0;
}

.u-section-8 .u-text-8 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 23px 0 0 1px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 168px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-top: 0;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 534px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-9 {
  background-image: linear-gradient(#fc10e7, #ff5b16);
}

.u-section-9 .u-sheet-1 {
  min-height: 706px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  width: 582px;
  font-weight: 400;
  margin: 34px auto 0;
}

.u-section-9 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 108px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 236px;
  grid-gap: 30px 30px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 10px 15px;
}

.u-section-9 .u-icon-1 {
  width: 165px;
  height: 165px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: -79px auto 0;
  padding: 32px;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  margin: 19px auto 0;
  padding: 18px 30px;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 10px 15px;
}

.u-section-9 .u-icon-2 {
  width: 165px;
  height: 165px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: -79px auto 0;
  padding: 32px;
}

.u-section-9 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-9 .u-btn-2 {
  background-image: none;
  margin: 19px auto 0;
  padding: 18px 30px;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 10px 15px;
}

.u-section-9 .u-icon-3 {
  width: 165px;
  height: 165px;
  background-image: linear-gradient(65deg, #ff5b16, #f1c50e);
  margin: -79px auto 0;
  padding: 32px;
}

.u-section-9 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-9 .u-btn-3 {
  background-image: none;
  margin: 19px auto 0;
  padding: 18px 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 192px;
  }

  .u-section-9 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 24px;
  }

  .u-section-9 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 24px;
  }

  .u-section-9 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    min-height: 482px;
    grid-gap: 100px 100px;
    grid-auto-columns: calc(50% - 50px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 29px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 830px;
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 16px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-9 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-9 .u-btn-3 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}